    <footer class="d-flex">
        <section class="footer-widget col-md-4">
            <h3 class="fs-3">WIDGET</h3>
            <hr>
            <p class="text-break">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <div class="social flex-nowrap">
                <i class='bx bxl-facebook-circle bx-sm'></i>
                <i class='bx bxl-instagram-alt bx-sm'></i>
                <i class='bx bxl-youtube bx-sm'></i>
            </div>
        </section>

        <section class="footer-widget col-md-4">
            <h3 class="fs-3">LOGO</h3>
            <hr>
            <p class="text-break">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <button class="btn-login">Entrar</button>
        </section>

        <section class="footer-widget col-md-4">
            <h3 class="fs-3">NEWSLETTER</h3>
            <hr>
            <p class="text-break">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <form action="newsletter" method="post">
                <input type="email" name="email-news" id="email-news" placeholder="Assinar Newsletter">
                <button class="btn-news" type="submit"><i class='bx bx-send bx-sm'></i></button>
            </form>
        </section>
    </footer>

    <section class="copy">
        Nova Geração &copy; 2022 | Todos os direitos reservados 
    </section>
    <script src="/javascripts/bootstrap.bundle.js"></script>
  </body>
</html>